{% extends 'mainapp/layout.html' %}

{% block title %}Page{% endblock %}

{% load static %}

{% block content %}
<div style="position: relative;">
  <img id="graph" src="{{image_url}}" alt="alt" style="width: 400px; height: 432px;">
  <span style="position: absolute; top: 0; right: 450; font-size: 20px; padding: 2px 5px;">Параметры построения графа</span>
  <div style="position: absolute; top: 0; right: 450; font-size: 20px; padding: 32px 405px;">
    <form action="{% url 'button_click' %}" method="post">
        {% csrf_token %}
        <p> Левая нижняя точка X: <input type="text" name="lx" font-size="20" value="0"></p>
        <p> Левая нижняя точка Y: <input type="text" name="ly" font-size="20" value="0"></p>
        <p> Правая верхняя точка X: <input type="text" name="rx" font-size="20" value="20"></p>
        <p> Правая верхняя точка Y: <input type="text" name="ry" font-size="20" value="20"></p>
        <p> Ширина ячейки: <input type="text" name="sx" font-size="20" value="1"></p>
        <p> Высота ячейки: <input type="text" name="sy" font-size="20" value="1"></p>
        <p> Время начала(HH:MM): <input type="text" name="ts" font-size="20" value="12:00"></p>
        <p> Время конца(HH:MM): <input type="text" name="te" font-size="20" value="18:00"></p>
        <button type="submit">Ввод</button>
    </form>
  </div>

</div>
<p font-size="20">Описание</p>

{% endblock %}